* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

hr {
    margin: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container>div {
    width: 99%;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.116);
}

/* Contas Info*/

.divContas {
    display: flex;
    justify-content: space-between;

}

.divContentLeft>hr {
    width: 250px;
}

.divContas .divContentLeft {
    height: 115px;
}

.divContas .divContentLeft>div {
    display: flex;
}

.infoConteudo p {
    color: #545454;
}

.infoConteudo .infoConteudoDiv {
    transform: translateY(-12px);
    margin-left: 5px;
}

.infoConteudo .infoConteudoDiv h2 {
    color: #bd0f0f;
    font-size: 50px;
}

.infoConteudo .infoConteudoDiv p {
    transform: translateY(-7px);
    text-align: center;
    font-weight: 600;
}

.divContentRigth .infoText {
    width: 100%;
    color: #545454;
}



.divContentRigth {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infoConteudos {
    height: 60px;
    color: #bd0f0f;
    display: flex;
}

.infoConteudos p {
    font-weight: 600;
    margin-right: 10px;
}

.infoConteudos h2 {
    font-size: 60px;
    transform: translateY(-17px);
}

/* Cadastrar Boleto */

.divCadastrar hr {
    width: 250px;
}

.divCadastrar .infoText {
    display: flex;
    gap: 5px;
    color: #004aad;
}

.divCadastrar .divForm {
    justify-content: space-between;
}

.divCadastrar .divForm form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.divCadastrar input {
    height: 30px;
    background: #d8d8d8;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
}

#beneficiario {
    width: 50%;
}

#valor {
    width: 20%;
}

#btnCadastrar {
    width: 100px;
    background-color: #004aad;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

#btnCadastrar:hover {
    background: #003170;

}

.divTabela {
    height: 320px;
    
}

.divTabela .infoText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}

.title-boletos {
    display: flex;
    align-items: center;
}

.divTabela table {
    width: 100%;
}

.divTabela table td {
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.divTabela .tableList {
    height: 230px;
    overflow: auto;
}

.divTabela table th {
    text-align: left;
}

.divTabela table td {
    text-align: left;
}

.tableCod {
    width: 15%;
}

.tableBeneficiario {
    width: 50%;
}

.tableVlr {
    width: 20%;
}

.tableVencimento {
    width: 15%;
}

.tableVlrTopo {
    transform: translateX(-10px);
}

.tableVencimentoTopo {
    transform: translateX(-10px);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    font-size: 14px;
    padding: 30px 0;
    margin-top: 35px;
    color: #004530;

}


.footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {

    text-align: center;
    font-size: 13px;
}

.footer .credits a {
    text-decoration: underline;
    color: royalblue;
    font-weight: bold;
}

/* Media queries para responsividade */



@media only screen and (max-width: 767px) {
    .divContas {
        flex-direction: column;
        gap: 20px;
    }

    .container>div {
        width: 100%;
    }

    .infoConteudo .infoConteudoDiv h2 {
        font-size: 40px;
    }

    .infoConteudos h2 {
        font-size: 45px;
    }

    .divCadastrar input {
        height: 40px;
    }

    #btnCadastrar {
        height: 40px;
    }

    .divTabela .infoText {
        align-items: flex-start;
    }
}

@media only screen and (max-width: 576px) {
    .infoConteudo .infoConteudoDiv h2 {
        font-size: 35px;
    }

    .infoConteudos h2 {
        font-size: 40px;
    }

    .divCadastrar .divForm form {
        flex-direction: column;
        gap: 10px;
    }

    .divTabela table {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    .infoConteudo .infoConteudoDiv h2 {
        font-size: 30px;
    }

    .infoConteudos h2 {
        font-size: 35px;
    }

    .divCadastrar .divForm form {
        flex-direction: column;
        gap: 10px;
    }

    .divTabela table {
        font-size: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .infoConteudo .infoConteudoDiv h2 {
        font-size: 25px;
    }

    .infoConteudos h2 {
        font-size: 30px;
    }

    .divCadastrar .divForm form {
        flex-direction: column;
        gap: 10px;
    }

    .divTabela table {
        font-size: 8px;
    }
}